# Frontend
frontend/node_modules
frontend/dist
frontend/coverage
frontend/test-results
frontend/playwright-report

# Backend
backend/beer-festival-backend
backend/bin
coverage.out
# Environment files
.env
.vscode
