name: Deploy to VPS

on:
  workflow_call:
    secrets:
      VPS_HOST:
        required: true
      VPS_USER:
        required: true
      VPS_SSH_KEY:
        required: true
      SUPABASE_URL:
        required: true
      SUPABASE_KEY:
        required: true
  pull_request:
    branches:
      - "**"
    paths:
      - ".github/workflows/deploy.yml"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Deploy to prod
        uses: appleboy/ssh-action@2ead5e36573f08b82fbfce1504f1a4b05a647c6f
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd /home/${{ secrets.VPS_USER }}/beer-festival
            export SUPABASE_URL=${{ secrets.SUPABASE_URL }}
            export SUPABASE_KEY=${{ secrets.SUPABASE_KEY }}
            git pull origin main
            docker compose build --no-cache
            docker compose up -d
            echo "Done"
